footer {
    background-color: #1f5724;
    color: white;
    padding: 1rem 0; /* Уменьшите padding */
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem; /* Уменьшите padding */
}

.footer-section {
    margin-bottom: 1rem; /* Уменьшите margin */
    flex: 1 1 300px;
}

.footer-section h2, .footer-section p, .footer-section ul {
    margin-bottom: 0.5rem; /* Уменьшите margin */
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem; /* Уменьшите margin */
    cursor: pointer;
    transition: color 0.3s;
}

.footer-section ul li:hover {
    color: #E78F8E;
}

.footer-socials {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0; /* Уменьшите margin */
}

.footer-socials a {
    margin: 0 0.5rem; /* Уменьшите margin */
    color: white;
    font-size: 1.2rem; /* Уменьшите font-size */
    transition: color 0.3s;
}

.footer-socials a:hover {
    color: #E78F8E;
}

.footer-bottom {
    margin-top: 1rem; /* Уменьшите margin */
    font-size: 0.8rem; /* Уменьшите font-size */
}

/* Адаптивность */
@media (max-width: 992px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .footer-container {
        padding: 0 0.5rem; /* Уменьшите padding */
    }

    .footer-socials a {
        margin: 0 0.25rem; /* Уменьшите margin */
        font-size: 1rem; /* Уменьшите font-size */
    }
}