.navbar {
    background-color: #acd8aa;
    height: 70px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .navbar-logo img {
    height: 50px;
    margin-right: 10px;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
  }
  
  .nav-item {
    margin: 0 20px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
  }
  
  .btn-contact {
    background-color: #d88181;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .menu-toggle {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .nav-menu {
      display: none;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  